.gradient {
    background: linear-gradient(0deg, #02362a, #0227066d);
}

.header {
    border: solid;
    border-width: 6px;
    border-color: #e1e1e1;
}

.text-container {
    margin-top: 50px;
    position: relative;
    text-align: center;
    z-index: 0;
}

.welcome-text {
    font-size: 300px;
    color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%);
    z-index: -1;
}

.home-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 80px;
    position: relative;
    z-index: 1;
    padding: 190px;
}

.paragraph-container {
    display: flex;
    max-width: 650px;
    background-color: #061627;
    border-radius: 30px;
    border: 48px solid #061627;
    box-shadow: 20px 10px 20px rgba(0, 0, 0, 0.2);
    z-index: 2;
    transition: transform 0.3s ease
}

.paragraph-container:hover {
    transform: scale(1.1);
}

.personal-paragraph {
    font-size: 35px;
    word-spacing: 5px;
}

.personal-image {
    width: 400px;
    border-radius: 30px;
    margin-left: -110px;
    box-shadow: 20px 10px 20px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
    z-index: 1;
}

.personal-image:hover {
    transform: scale(1.1);
}

.external-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
}

.github-items, .linkedin-items {
    display: flex;
    flex-direction: row;
    border: none;
    align-items: center;
    gap: 10px;
    padding: 10px;
    cursor: pointer;
}

.github-button, .linkedin-button {
    background-color: #e1e1e1;
    border-radius: 20px;
    transition: transform 0.3s ease;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.github-button:hover, .linkedin-button:hover {
    transform: scale(1.2)
}

.github-button:active, .linkedin-button:active {
    transform: scale(1.1)
}

.github-photo, .linkedin-photo {
    width: 50px;
}

.github-text, .linkedin-text {
    font-size: 20px;
    color: black;
}

@media screen and (max-width: 1145px) {
    .personal-image{
        width: 275px;
    }
    .paragraph-container{
        border: 30px solid #061627;
        min-width: 300px;
    }
    .personal-paragraph {
        font-size: 20px;
        word-spacing: 5px;
    }

}
@media screen and (max-width: 400px) {
    .home-container {
        padding-bottom: 130px;
        padding-top: 130px;
    }
    .personal-image{
        width: 170px;
    }
    .paragraph-container{
        border: 18px solid #061627;
        min-width: 220px;
        min-height: 155px;
    }
    .personal-paragraph {
        font-size: 12px;
        word-spacing: 2px;
    }
    .github-photo, .linkedin-photo {
        width: 20px;
    }
    
    .github-text, .linkedin-text {
        font-size: 10px;
    }

    .github-items, .linkedin-items {
        gap: 5px;
        padding: 5px;
    }

    .github-button, .linkedin-button {
        border-radius: 12px;
        box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.15);
    }
    .external-links {
        gap: 18px;
    }

}