.contactContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 50px;
  }
  
  .contact {
    margin-top: 15px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

.emailLink {
    cursor: pointer;
    text-decoration: underline;
    display: inline;
  }

@media screen and (max-width: 900px) {
  .contactMe{
    font-size: 20px;
  }
  .contactInfo{
    font-size: 14px;
  }
  .contactContainer {
    padding: 30px;
    margin-top: -35px;
  }
}